<!DOCTYPE html>
<html>
  <head>
    <title>Record Book</title>

    <link rel="stylesheet" href="/assest/css/home.css" />
  </head>
  <body>
    <%- include('_navbar'); %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p><%=data.title%></p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-11">
          <button
            class="btn btn-info"
            data-toggle="modal"
            data-target="#myModal6"
            style="float: right"
          >
            Add Month
          </button>
        </div>
        <!-- Modal 1-->
        <div class="modal fade" id="myModal6" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h4 class="modal-title">Enter Month Name</h4>
              </div>
              <form
                action="/addPersonalMonth/?id=<%=data._id%>"
                method="post"
                class="form-group"
              >
                <div class="modal-body">
                  <label for="title">Enter Month Name</label>
                  <input
                    type="text"
                    name="title"
                    id="title"
                    class="form-control"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">ADD</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
    <div class="container-fluid">
      <h2 class="page-header"><%=data.title%></h2>

      <% for (i of data.child.reverse()){%>

      <div class="btn btn-default btn-lg" role="button" style="margin: 5px">
        <a
          href="/getThisExpenseDetail/?id=<%=i.id%>&key=3"
          style="text-decoration: none; color: black"
        >
          <h4>TS : ₹ <%=i.price%></h4>
          <h3><%=i.title%></h3>
        </a>
        <button
          class="btn btn-warning"
          data-toggle="modal"
          data-target="#myModal2<%=i._id%>"
        >
          Edit
        </button>
        <!-- Modal 1-->
        <div class="modal fade" id="myModal2<%=i._id%>" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h4 class="modal-title">Update Month Name</h4>
              </div>
              <form
                action="/updatePersonalMonth/?id=<%=i._id%>"
                method="post"
                class="form-group"
              >
                <div class="modal-body">
                  <input
                    type="text"
                    name="title"
                    class="form-control"
                    value="<%=i.title%>"
                    autofocus
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <a href="/deletePersonalMonth/?id=<%=i._id%>"
          ><button class="btn btn-danger">Delete</button></a
        >
      </div>
      <%}%>
    </div>
  </body>
</html>
